@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --shadow-center: 0 0 12px -2px rgb(0 0 0 / 0.05);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-space-grotesk);
  --breakpoint-xs: 24rem;
}

@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #0891b2;
  --color-primary-content: #ffffff;
  --color-secondary: #ec4899;
  --color-secondary-content: #ffffff;
  --color-accent: #ec4899;
  --color-accent-content: #ffffff;
  --color-neutral: #4b5563;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #e5e7eb;
  --color-base-content: #4b5563;
  --color-info: #0891b2;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #be123c;
  --color-background: #f9fafb;

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #0891b2;
  --color-primary-content: #ffffff;
  --color-secondary: #ec4899;
  --color-secondary-content: #ffffff;
  --color-accent: #ec4899;
  --color-accent-content: #ffffff;
  --color-neutral: #f1f5f9;
  --color-neutral-content: #0f172a;
  --color-base-100: #1e293b;
  --color-base-200: #334155;
  --color-base-300: #0f172a;
  --color-base-content: #f1f5f9;
  --color-info: #0891b2;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #be123c;
  --color-background: #1e293b;

  --radius-field: 9999rem;
  --radius-box: 1rem;

  --tt-tailw: 6px;
  --tt-bg: var(--color-primary);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  main {
    @apply px-0;
    background-color: var(--color-background);
  }

  p {
    margin: 1rem 0;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

:root,
[data-theme] {
  background: var(--color-background);
}

.btn {
  @apply shadow-md rounded-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
}

.stat-desc {
  @apply text-primary;
}

.badge {
  @apply rounded-sm h-fit;
}

.menu {
  @apply gap-[1px] rounded-md;
}

.card {
  @apply bg-base-100 border-1 hover:border-primary/20 transition-colors shadow-sm;
}